<div class="jumbotron translateFromBox">
	<div class="theword">
		<span class="translate_word">{{currentWord.value}}</span>
	</div>
	<div class="answers">
		<span class="translate_var ans0" ng-click="checkAnswer($event)">{{options[0]}}</span><br>
		<span class="translate_var ans1" ng-click="checkAnswer($event)">{{options[1]}}</span><br>
		<span class="translate_var ans2" ng-click="checkAnswer($event)">{{options[2]}}</span><br>
		<span class="translate_var ans3" ng-click="checkAnswer($event)">{{options[3]}}</span><br>
		<span class="translate_var ans4" ng-click="checkAnswer($event)">{{options[4]}}</span><br>

		<span class="translate_var dontKnow">I don`t know</span><br>
	</div>
</div>