
<div class="jumbotron">
  <h1>Hello, fellow!</h1>
  <p>Do you want to practice?</p>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Practice</a></p>
</div>

<div class="jumbotron">
 
  <h1>Examin your dictionary </h1>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Dictionary</a></p>
</div>

<!--<table class="table table-striped">
  <tr>
    <th>word</th>
    <th>id</th>
    <th>usage</th>
  </tr>
  <tr ng-repeat="word in words">
    <td>{{word.id}}</td>
    <td>{{word.value}}s</td>
    <td>{{word.example}}</td>
  </tr>
</table>-->