
<div class="row trainingBox">
	<div class="jumbotron trainingCart">
	  <h1>Translate from</h1>
	  <img src="images/technical/training1.jpg">
	  <a class="btn btn-success btn-lg translateFrom" href="#/translateFrom" role="button" >Practice</a>
	</div>

	<div class="jumbotron trainingCart">
	 
	  <h1>Translate into</h1>
	  <img src="images/technical/training2.jpg">
	  <a class="btn btn-success btn-lg translateInto" href="#/translateInto" role="button">Practice</a>
	</div>

	<div class="jumbotron trainingCart">
	 
	  <h1>Training Cart</h1>
	  <img src="images/technical/training2.jpg">
	  <a class="btn btn-success btn-lg trainingCart" href="#/trainingCart" role="button">Practice</a>
	</div>
</div>

<a href="/#/trainingCart">training test</a>

