<div class="jumbotron trainingcart " ng-show="showExerciseBox()">


  <div class="word">
 		
  </div>

  <h2>{{currentWord().value}}</h2>

  <div class="buttons">
	<p class="inlbutton"><a class="btn btn-warning btn-sm" ng-click="wrongAnswer()" role="button">I don`t know</a></p>
	<p class="inlbutton"><a class="btn btn-success btn-sm" ng-click="rightAnswer()" role="button">I know</a></p>
  </div>
</div>

<div class="resultBox" ng-show="showResults()">

		<table class="table table-striped">
		  <tr>
		    <th>word</th>
		    <th>learned</th>
		  </tr>
		  <tr ng-repeat="word in rightAnswerArr track by word.id" class="rightAnswers">
		    <td>{{word.value}}</td>
		    <td><span class="badge"> </span></td>
		  </tr>
		  <tr ng-repeat="word in wrongAnswerArr track by word.id" class="wrongAnswers">
		    <td>{{word.value}}</td>
		    <td><span class="badge"> </span></td>
		  </tr>
		</table>

</div>